includes:
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    paths:
        - srv
        - tests

    # The level 8 is the highest level
    level: 8

    checkGenericClassInNonGenericObjectType: false

    # Larstan recommendation:
    checkMissingIterableValueType: false

    # to allow installing with various phsptan versions without reporting old errors here
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        # Larstan recommendation:
        - '#Unsafe usage of new static#'

        # Ignore errors in Laravel's Middleware classes
        -
            message: '#Method App\\Http\\Middleware\\RedirectIfAuthenticated\:\:handle\(\) has no return typehint specified#'
            path: app\Http\Middleware\RedirectIfAuthenticated.php
        -
            message: '#Method App\\Http\\Middleware\\Authenticate\:\:redirectTo\(\) should return string\|null but return statement is missing#'
            path: app\Http\Middleware\Authenticate.php

    # buggy

    # mixed

    # cache buggy

    # tests

    # iterable
